@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --wine-color: #661819;
  --white-color: #ffffff;
  --gray-color: #f0f0f0;
  --black-color: #000000;
}

body {
  position: relative;
  background-color: var(--white-color);
  min-height: 100vh;
}
